body {
    background-image: url("Images/purpleleaves.jpg");
    /*background-color: ghostwhite;*/
    /*font: 1.2rem "Fira Sans", sans-serif;*/
    font-family:  "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-weight: 700; 
    line-height: 26.4px;
    background-size: 100%;
    width: auto;
    height: auto;
    margin-bottom:100px;
  }
  
  h1 {
    color: whitesmoke   ;
    margin: auto;
    margin-bottom: auto;
    width: 50%;
    text-align: center;
    letter-spacing: 5px;
    line-height: 50px;
    margin-top:250px;
  }