
div{
    background: gainsboro;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    align-items: center;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
    width: fit-content;
    border-radius: 30px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    margin-left: 50px;
    margin-top: 50px;
    background: #ff5945;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;

}